@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cbyokz');
  src:  url('fonts/icomoon.eot?cbyokz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cbyokz') format('truetype'),
    url('fonts/icomoon.woff?cbyokz') format('woff'),
    url('fonts/icomoon.svg?cbyokz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e90a";
}
.icon-cleaning:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e907";
}
.icon-repairing:before {
  content: "\e900";
}
.icon-plumbing:before {
  content: "\e901";
}
.icon-shifting:before {
  content: "\e908";
}
.icon-painting:before {
  content: "\e903";
}
.icon-notification:before {
  content: "\e904";
}
.icon-more:before {
  content: "\e905";
}
.icon-laundry:before {
  content: "\e906";
}
.icon-appliance:before {
  content: "\e909";
}
