.main {
  .see-all-link {
    color: $primary;
    font-size: 13px;
  }

  .special-offers {
    .slider {
      height: 150px;
      background-color: $secondary;
      border-radius: 30px;
      background-image: url(../../assets/images/bg-slider.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      position: relative;

      .carousel {
        position: absolute;
        left: -10px;
        height: 150px;
        width: 250px;

        .carousel-inner {
          position: relative;
          height: 85%;
        }
        .carousel-caption {
          top: 10px;
          text-align: left;
          .percent-item {
            font-size: 30px;
          }
          .title-item {
            font-size: 16px;
          }
          .text-item {
            font-size: 10px;
            line-height: 10px;
          }
        }
      }
      .carousel-indicators {
        position: relative;
        top: -3px;
      }
      .carousel-indicators li {
        width: 4px !important;
        height: 4px !important;
        margin-right: 0;
        border-radius: 50% !important;
      }
      .carousel-indicators .active {
        border-radius: 2px !important;
        width: 15px !important;
      }
    }
  }

  .service-item {
    .service-bg {
      height: 45px;
      width: 45px;
      opacity: 0.1;
      border-radius: 50%;
    }
    .service-icon {
      top: 15px;
    }
    .service-name {
      font-size: 13px;
      font-weight: 500;
      color: rgb(30, 30, 30);
    }
  }

  .most-popular-services {
    .list-unstyled {
      font-size: 14px;
      a:hover {
        text-decoration: none;
      }
    }
    .list-unstyled li:first-child a {
      color: $primary !important;
      font-weight: 500;
    }
    .most-popular-service-name {
      font-size: 12px;
    }
  }
}
